{% extends 'base.html.twig '%}
  {% block title %}
      Nuestras Categorias
  {% endblock %}
{% block contenido %}


<div class="container">
  <h1 class="mt-4 "> <strong>Nuestras Categorias</strong>
    <small></small>
  </h1>

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mb-4">
      <small>{{categoria.nombre}}</small>
    </h1>
  <div class="container">

    <!-- Inicia descripcion -->
    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
            <img class="img-fluid" src="{{asset( categoria_img~categoria.foto )}}" alt="">
      </div>

      <div class="col-md-4">
        <h3 class="my-3">Descripción</h3>
        <p>{{categoria.descripcion}}</p>
      </div>

    </div>
    <!-- /.FIN PLATOS -->
{% endblock %}
